body {
	padding-top: 70px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: #000;
  background-color: #d0d0ff;
}

table {
  background-color: #eaeaff;
  border-collapse: collapse;
}

tr {
  vertical-align: top;
}

th {
  background-color: #cdcdff;
  padding: .1em .4em .1em .4em;
}

td {
  padding: .1em .4em .1em .4em;
}

tr:hover {
  background-color: Azure;
}

td:hover {
  color: blue;
}

a {
  color: Navy;
}

.null {
  color: Dimgray;
  font-style: italic;
}

.footer {
	border-top: 1px solid #ddd;
	margin-top: 30px;
	padding-top: 15px;
	padding-bottom: 30px;
}

.jumbotron {
	text-align: center;
	background-color: transparent;
}

.jumbotron .btn {
	font-size: 21px;
	padding: 14px 24px;
}
